<!-- Color content properties -->
<div class="row">
    <div class="form group col-xs-6 col-sm-4">
        <p> <u>Color content properties</u> </p>
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Solid color </label>
    </div>
</div>


<div class="row">
    <div class="form-group col-xs-6 col-sm-4">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Random color </label>
        <ul>
            <li>
                <label for=""> Hex Color: </label>
                <textarea class="form-control" rows="5" id=""></textarea>
            </li>
        </ul>
        <ul>
            <li>
                <label> Radius: </label>
                <input type="text" class="form-control input-normal" placeholder="" aria-describedby="sizing-addon3">
            </li>
        </ul>
    </div>
</div>