<!-- Color content properties -->
<div class="row">
    <div class="form group col-xs-6 col-sm-4">
        <p> <u>Color content properties</u> </p>
        <label>
            <input type="radio" ng-model="ctrl.model.fillType" value="solid" checked> Solid color </label>
            <input type="color" class="form-control paok" ng-model="ctrl.model.solidColor">
        <ul>
            <li>
                
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-6 col-sm-4">
        <label><input type="radio" ng-model="ctrl.model.fillType" value="random" checked> Random color </label>
        <ul>
            <li>
                <label> Radius: </label>
                <input type="number" class="form-control paok" ng-model="ctrl.model.radius">
            </li>
        </ul>
    </div>
</div>