<!-- Grid content properties  -->
<div class="row">
    <div class="form-group col-xs-6 col-sm-4">
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Grid generator: </label>
        <ul>
            <li>
                <label> Grid color: </label>
                <input type="text" class="form-control input-normal" placeholder="" aria-describedby="sizing-addon3">
            </li>
        </ul>
        <ul>
            <li>
                <select class="form-control">
                    <option value="">pixel</option>
                    <option value="">inch</option>
                </select>
            </li>
        </ul>
        <ul>
            <li>
                <label> Small step: </label>
                <input type="text" class="form-control input-normal" placeholder="" aria-describedby="sizing-addon3">
                <label> Large step: </label>
                <input type="text" class="form-control input-normal" placeholder="" aria-describedby="sizing-addon3">
            </li>
        </ul>
    </div>
</div>