<!-- Grid content properties  -->
<div class="row">
    <div class="form-group col-xs-6 col-sm-12">
        <label>
            <input type="checkbox" ng-model="ctrl.model.grid"> Grid generator: </label>
        <ul>
            <li>
                <label> Grid color: </label>
                <input type="color" class="form-control paok" ng-model="ctrl.model.gridColor">
                <label><code class="terminator">{{ctrl.model.gridColor}}</code></label>
            </li>
        </ul>
        <ul>
            <li>
            <label class="md-only" for="stw">Amount of grid steps:</label>
            <input type="range" class=" paok" ng-model="ctrl.model.gridStepAmount" min="1" max="15" id="stw" />
            <code>{{ctrl.model.gridStepAmount}}</code>
            </li>
            <li>
            <label class="md-only" for="stw">Amount of step subdivisions:</label>
            <input type="range" class="paok vranger" ng-model="ctrl.model.gridSubdivisions" min="1" max="5" id="ste" />
            <code>{{ctrl.model.gridSubdivisions}}</code>
            </li>
        </ul>
    </div>
</div>