<!-- Color content properties -->
<div class="row">
    <div class="form group col-xs-6 col-sm-4">
        <p> <u>Color content properties</u> </p>
        <label>
            <input type="radio" ng-model="radioSelect" value="solid" checked> Solid color </label>
        <ul>
            <li>
                <input type="text" class="form-control paok" ng-model="ctrl.model.solidColor" required>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-6 col-sm-4">
        <label>
            <input type="radio" ng-model="radioSelect" value="random" checked> Random color </label>
        <ul>
            <li>
                <label for=""> Hex or Rgb Color: </label>
                <textarea class="form-control" rows="5" ng-model="ctrl.model.randColor" ng-list=","></textarea>
            </li>
        </ul>
        <ul>
            <li>
                <label> Radius: </label>
                <input type="number" class="form-control input-normal paok" ng-model="ctrl.model.radius" required>
            </li>
        </ul>
    </div>
</div>