<!-- Insert a value pixel or inch -->
<div class="row">
    <div class="col-xs-6 col-md-8">
        <label> Size: </label>
        <ul>
            <li>
                <input type="number" class="form-control paok" ng-model="ctrl.model.width" required>
                <label>x</label>
                <input type="number" class="form-control paok" ng-model="ctrl.model.height" required>
                <select class="form-control" ng-model="ctrl.model.unit">
                    <option value="px">pixel</option>
                    <option value="in">inch</option>
                </select>
            </li>
        </ul>
    </div>
</div>