<!-- Grid content properties  -->
<div class="row">
    <div class="form-group col-xs-6 col-sm-12">
        <label>
            <input type="checkbox" ng-model="ctrl.model.grid"> Grid generator: </label>
        <ul>
            <li>
                <label> Grid color: </label>
                <input type="color" class="form-control paok" ng-model="ctrl.model.gridColor">
            </li>
        </ul>
        <ul>
            <li>
                <label> Small step: </label>
                <input type="text" class="form-control paok" ng-model="ctrl.model.smallStep">
                <label> Large step: </label>
                <input type="text" class="form-control paok" ng-model="ctrl.model.largeStep">
            </li>
        </ul>
    </div>
</div>