<!-- Noise content properties  -->
<div class="row">
    <div class="form group col-xs-6 col-sm-4">
        <p>
            <u>Pattern properties </u>
        </p>
        <p>
            <label>
                <input type="radio" ng-model="ctrl.model.fillType" value="noise"> Noise
            </label>
        </p>
        <p>
            <label>
                <input type="checkbox" ng-model="ctrl.model.checkered"> Checkered
            </label>
        </p>
        <ul>
            <li>
                <label>Amount of rows (when checkered) </label>
                <input type="number" class="form-control input-normal paok" ng-model="ctrl.model.rowAmount">
                <label>Amount of columns (when checkered): </label>
                <input type="number" class="form-control input-normal paok" ng-model="ctrl.model.columnAmount">
            </li>
        </ul>
        <ul>
            <li>
                <label>Block colour</label>
            </li>
        </ul>
        <ul>
            <li>
                <input type="color" class="form-control paok" ng-model="ctrl.model.blockColor">
                <label><code class="terminator">{{ctrl.model.blockColor}}</code></label>
            </li>
        </ul>
    </div>
</div>