<!-- Noise content properties  -->
<div class="row">
    <div class="form group col-xs-6 col-sm-4">
        <p> <u>Noise content properties </u> </p>
        <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Noise </label>
        <ul>
            <li>
                <select class="form-control">
                    <option value="">gradient</option>
                    <option value="">checker</option>
                </select>
            </li>
        </ul>
        <ul>
            <li>
                <label> Vertical Column Color: </label>
                <input type="text" class="form-control input-normal" placeholder="" aria-describedby="sizing-addon3">
            </li>
            <li>
                <label> Horizontal Column Color: </label>
                <input type="text" class="form-control input-normal" placeholder="" aria-describedby="sizing-addon3">
            </li>
        </ul>
    </div>
</div>