<!-- Preview -->
<!-- <div class="container col-xs-6 col-md-4" ng-controller="VelociraptorPreview">
    <section class="img-preview" id="img-preview">
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <label>Preview:</label> -->
                <!-- <img src="./assets/img/batman.jpg" alt="" class="img-rounded"> -->
                <!-- <canvas id="myCanvas" width="200" height="100" style="border:1px solid #000000;"></canvas> -->
<!--             </div>
        </div>
    </section> -->











 <div ng-controller="VelociraptorPreview" ng-controller="VelociraptorForm">
    <canvas width="200" height="200" circle-draw></canvas>
  </div>











<!-- Preview -->

<div>
    <canvas-field progress="object.progress" progress-id="helloworld"></canvas-field>
    <br/><br/>
    <input ng-model="object.progress"></input>
    <input ng-model="object.progress"></input>
</div>






<!-- Preview buttons -->
    <section class="aris">
        <button class="btn btn-primary btn" data-role="fullview">FullView</button>
        <button class="btn btn-primary btn" data-role="download">Download</button>
    </section>
</div>