                                                            <!-- Preview -->
<!-- Image canvas -->
<div class="row">
    <section class="img-preview" ng-controller="VelociraptorPreview">
        <ul>
            <li>
                <label>Preview:</label>
            </li>
            <li>
                <canvas id="canvas" width="100" height="100" class="box"></canvas>
            </li>
        </ul>
    </section>
</div>
<!-- Preview buttons -->
<div class="row">
    <section class="aris">
        <ul>
            <li>
                <!-- <a href="" id="download" download="canvasexport.png" ng-controller="VelociraptorPreview">PPP</a> -->
                <button class="btn btn-primary btn" data-role="fullview">FullView</button>
                <button class="btn btn-primary btn" data-role="download">Download</button>
            </li>
        </ul>
    </section>
</div>