@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";

body {
	// custom styles here.
	
	li 
	{
		list-style: none;
	}

	.row
	{
		margin-left: -10px;
	}

	.img-rounded
	{ 
  		border-radius: 6px;
  		border: 5px solid #000000;
  		max-width: 200px;  
	}

	.main-border
	{
		border-radius: 7px 99px 90px 0px;
		-moz-border-radius: 7px 99px 90px 0px;
		-webkit-border-radius: 7px 99px 90px 0px;
		border: 5px solid #000000;

		background-color: #a5b59a;
	}

	.input-group-btn
	{
  		margin-left: -1px;
  		width: 10px;
	}

	.paok
	{
		width: 100px;
		display: inline-flex;
	}

	.aris
	{
		display: inline-flex;
		margin: 10px;
	}

	.btn
	{
    	text-align: center;
    	margin: 10px;
	}

	.box
	{
		border:	1px solid #d3d3d3;
		width: 100%;	// always scale to fit
	}

	// .box
	// {
	//     display: block;
	//     width: 200px;
	//     height: 200px;
	// }

	.inch 
	{
		position: absolute;
		bottom: 0;
		right: 0;
		height: 50px;
		background-color: red;
		width: 1in;
		visibility: hidden;
	}

	.terminator 
	{
		padding: 9px 9px;
		background-color: #ffffff;

	}

	input[type="range"] 
	{
  		width: 10%;
	}

}